<nav class="navbar navbar-expand-lg bg-white border-bottom py-3">
  <div class="container">
    <a class="" href="#">
        <img src="/assets/images/logo.svg" alt="logo" class="logoimg">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link py-2 px-4 text-dark" aria-current="page" href="#">服務方案</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-2 px-4 text-dark" href="#">關於職旅</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-2 px-4 text-dark" href="#">聯絡我們</a>
        </li>
      </ul>
    </div>
    <div>
        <img src="/assets/images/avatar.png" alt="avatar" class="userimg rounded-circle me-2 border">
        <span class="fw-medium align-middle">Mokumaru</span>
    </div>
  </div>
</nav>